.mat-form-field {
  font-size: 12px;
  width: 100%;
}

.pageNovoUtilizador{
  position:relative;
  min-height: 85%;
}

.novoUtilizadorHeader {
  position: relative;
  background: #2A81CC;
  height: 50px;
  font-weight: bold;
  font-weight: 400;
  color: white;
  padding-left: 5%;
  display: flex;

}

.novoUtilizadorIcon {
  padding-top: 6px;
  font-size: 2.2em;
  position: relative;
  width: 50px;
}

.novoUtilizadorText {
  padding-left: 2%;
  padding-top: 14px;
  font-size: 1.2em;
}

.nomeUtilizador{
    width: 60%;
    margin-top: 20px;
    margin-left: 50px;
}

.dadosUtilizador{
  width: 20%;
  margin-top: 20px;
  margin-left: 50px;
}

.example-container {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}

.secondLineContainer{
  width: 35%;
  margin-top: 5px;
  margin-left: 50px;
}

.link1{
  width: 100%;
  margin-top: 10px;
  margin-left: 50px;
  color: #2A81CC;
}

.link2{
  width: 100%;
  margin-top: 10px;
  margin-left: 370px;
  color: #2A81CC;

}

.buttons{
  padding-bottom: 10px;
  height: 12%;
  margin-top: 20px;
}

.editarUtilizadorButton {
  margin-left: 50px;
  background: rgba(52, 176, 43, 100);
  color: white;
}

.cancelarButton {
  margin-left: 50px;
  background: darkred;
  color: white;
  top: -3px;
}

.arrowIcon {
  color:#2A81CC;
  font-size: 2.2em;
  cursor: pointer;
}

.tabelaDepartamento {
  margin-left: 50px;
  width:83%;
  text-align: left;
  background-color: white;
}

.tabelaPerfil {
  width:83%;
  text-align: left;
  background-color: white;
}

.tables {
  width: 42%;
  display: inline-block;
  vertical-align: top;
}

.deleteIconTable {
  color: darkred;
  cursor: pointer;
}

.dadosContainer{
    padding-top: 10px;
    padding-bottom: 10px;
}
