<div>
  <div class="text">
    {{'infoLegal.firstLine' | translate}}
  </div>
  <div class="text">
    {{'infoLegal.secondLine' | translate}}
  </div>
  <div class="listTop">
    {{'infoLegal.subLineA' | translate}}
  </div>
  <div class="list">
    {{'infoLegal.subLineB' | translate}}
  </div>
  <div class="list">
    {{'infoLegal.subLineC' | translate}}
  </div>
  <div class="list">
    {{'infoLegal.subLineD' | translate}}
  </div>
  <div class="list">
    {{'infoLegal.subLineE' | translate}}
  </div>
  <div class="list">
    {{'infoLegal.subLineF' | translate}}
  </div>
  <div class="textTop">
    {{'infoLegal.thirdLine' | translate}}
  </div>
  <div class="text">
    {{'infoLegal.fourthLine' | translate}}
  </div>
  <div class="listTop">
    {{'infoLegal.secondSubLineA' | translate}}
  </div>
  <div class="list">
    {{'infoLegal.secondSubLineB' | translate}}
  </div>
  <div class="list">
    {{'infoLegal.secondSubLineC' | translate}}
  </div>
  <div class="list">
    {{'infoLegal.secondSubLineD' | translate}}
  </div>
  <div class="list">
    {{'infoLegal.secondSubLineE' | translate}}
  </div>
</div>
