.text {
  line-height: 1.5em;
}

.textTop {
  margin-top: 20px;
  line-height: 1.5em;
}

.list {
  margin-left: 10px;
  line-height: 1.5em;
}


.listTop {
  margin-left: 10px;
  line-height: 1.5em;
}
