<div class="createEditPage">
    <div *ngIf="!isUpdate" class="header">
        <mat-icon class="createIcon">playlist_add</mat-icon>
        <div class="text">
          {{'processo.criarConfigProcesso' | translate}} </div>
    </div>
    <div *ngIf="isUpdate" class="header">
        <mat-icon class="editIcon">border_color</mat-icon>
        <div class="text">
        {{'processo.editarConfigProcesso' | translate}} </div>
    </div>

    <form #processoForm="ngForm">
        <div class="body">
            <div>
                <mat-form-field class="nome" appearance="outline">
                  <mat-label>{{'processo.nome' | translate}}</mat-label>
                  <input matInput maxlength="100" type="text" [(ngModel)]="request.nome" name="nome"
                    [errorStateMatcher]="matcher" [required]="submittedTry" />
                  <mat-error>{{'general.required' | translate}}</mat-error>
                </mat-form-field>
            </div>
            <div class="body_block">
                <mat-form-field class="tarefa_perfil" appearance="outline">
                    <mat-label>{{'tarefa.title' | translate}}</mat-label>
                    <mat-select #name="ngModel" name="parentFiled" [(ngModel)]="selectedTarefaId" [errorStateMatcher]="matcher" [required]="submittedTry" #singleSelect>
                      <mat-option>
                        <ngx-mat-select-search  #name="ngModel" name="parentFiledFilter" 
                        placeholderLabel="{{'tarefa.title' | translate}}" noEntriesFoundLabel="{{'general.semResultados' | translate}}"
                        ngModel (ngModelChange)="filterMyTarefaOptions($event)">
                        </ngx-mat-select-search>
                      </mat-option>
                      <mat-option *ngFor="let tarefa of filteredTarefasList" [value]="tarefa.id">{{tarefa.nome}}
                      </mat-option>
                    </mat-select>
                    <mat-error>{{'general.required' | translate}}</mat-error>
                </mat-form-field>
                <mat-icon class="arrowIcon" *ngIf="selectedTarefaId > 0" (click)="addTarefa(selectedTarefaId)"
                    matTooltip="{{'general.Add' | translate}}">arrow_downward
                </mat-icon>
            </div>
            <div>
              <div class="tabelaProcessoTitulo">
                <mat-icon class="tableTitleIcon">playlist_add</mat-icon>
                {{'tarefa.title' | translate}}
              </div>
                <table mat-table #tableTarefa class="mat-elevation-z8 table" [dataSource]="dataSourceTarefa"
                cdkDropList [cdkDropListData]="dataSourceTarefa" (cdkDropListDropped)="dropTable($event)">
                    <ng-container matColumnDef="nome">
                      <th mat-header-cell *matHeaderCellDef> {{'tarefa.nome' | translate}} </th>
                      <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
                    </ng-container>
                    <ng-container matColumnDef="tarefaInicial">
                        <th mat-header-cell *matHeaderCellDef> {{'processo.tarefaInicial' | translate}} </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-icon *ngIf="element.tarefaInicial" class="checkIconTable" matTooltip="{{'processo.tarefaInicial' | translate}}">check</mat-icon>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="eliminar">
                      <th mat-header-cell *matHeaderCellDef> {{'general.Eliminar' | translate}} </th>
                      <td mat-cell *matCellDef="let element">
                        <button mat-icon-button color="primary">
                          <mat-icon class="deleteIconTable" (click)="deleteTarefa(element.id)"
                            matTooltip="{{'utilizador.delete' | translate}}">clear</mat-icon>
                        </button>
                      </td>
                    </ng-container>            
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsTarefa"></tr>
                    <tr mat-row style="cursor: all-scroll;" *matRowDef="let row; columns: displayedColumnsTarefa;" cdkDrag [cdkDragData]="row"></tr>
                  </table>
            </div>
            <div class="body_block">
                <mat-form-field class="tarefa_perfil" appearance="outline">
                    <mat-label>{{'perfil.title' | translate}}</mat-label>
                    <mat-select #name="ngModel" name="parentFiled" [(ngModel)]="selectedPerfilId" [errorStateMatcher]="matcher" [required]="submittedTry" #singleSelect>
                      <mat-option>
                        <ngx-mat-select-search  #name="ngModel" name="parentFiledFilter" 
                        placeholderLabel="{{'perfil.title' | translate}}" noEntriesFoundLabel="{{'general.semResultados' | translate}}"
                        ngModel (ngModelChange)="filterMyPerfilOptions($event)">
                        </ngx-mat-select-search>
                      </mat-option>
                      <mat-option *ngFor="let perfil of filteredPerfisList" [value]="perfil.id">{{perfil.nome}}
                      </mat-option>
                    </mat-select>
                    <mat-error>{{'general.required' | translate}}</mat-error>
                </mat-form-field>
                <mat-icon class="arrowIcon" *ngIf="selectedPerfilId > 0" (click)="addPerfil(selectedPerfilId)"
                  matTooltip="{{'general.Add' | translate}}">arrow_downward
              </mat-icon>
            </div>
            <div>
              <div class="tabelaProcessoTitulo">
                <mat-icon class="tableTitleIcon">playlist_add</mat-icon>
                {{'processo.perfisMsg' | translate}}
              </div>
                <table mat-table class="mat-elevation-z8 table" [dataSource]="dataSourcePerfil">
                    <ng-container matColumnDef="descricao">
                      <th mat-header-cell *matHeaderCellDef> {{'tarefa.descricao' | translate}} </th>
                      <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
                    </ng-container>
                    <ng-container matColumnDef="eliminar">
                      <th mat-header-cell *matHeaderCellDef> {{'general.Eliminar' | translate}} </th>
                      <td mat-cell *matCellDef="let element">
                        <button mat-icon-button color="primary">
                          <mat-icon class="deleteIconTable" (click)="deletePerfil(element.id)"
                            matTooltip="{{'utilizador.delete' | translate}}">clear</mat-icon>
                        </button>
                      </td>
                    </ng-container>            
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsPerfil"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsPerfil;"></tr>
                  </table>
            </div>
            <div class="buttons">
              <button class="gravarButton" mat-raised-button type="submit" (click)="adicionarEditarConfigProcesso()" [disabled]="!processoForm.valid" >
                <mat-icon class="icon">check</mat-icon>
                <mat-label>{{'general.buttonGravar' | translate}}</mat-label>
              </button>
              <button class="cancelarButton" type="submit" (click)="cancelar()" mat-raised-button>
                <mat-icon>close</mat-icon>
                <mat-label>{{'general.buttonCancelar' | translate}}</mat-label>
              </button>
            </div>
        </div>
    </form>
</div>