.createEditPage{
    position:relative;
    min-height: 85%;
    display: flow-root;
}

.header {
    position: relative;
    background: #2A81CC;
    height: 50px;
    font-weight: bold;
    font-weight: 400;
    color: white;
    padding-left: 5%;
    display: flex;
  
  }
  
  .editIcon {
    padding-top: 6px;
    font-size: 2.2em;
    position: relative;
    width: 50px;
  }
  .createIcon {
    padding-top: 6px;
    font-size: 2.8em;
    position: relative;
    width: 50px;
  }
  
  .text {
    padding-left: 2%;
    padding-top: 14px;
    font-size: 1.2em;
  }

  .body {
    margin-top: 20px;
    margin-left: 50px;
  }

  .nome{
    width: 60%;
  }
  .tarefa_perfil{
      width: 40%;
  }

  .body_block {
    display: flow-root;
  }

  .arrowIcon {
    color:#2A81CC;
    font-size: 2.2em;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 50px;
    border: 2px solid #2A81CC;
    display: inline;
  }

  .table {
    width: 60%;
    text-align: left;
    background-color: white;
    margin-bottom: 50px;
  }
  
  .deleteIconTable {
    color: darkred;
    cursor: pointer;
  }

  .checkIconTable {
    color: green;
  }

.tabelaProcessoTitulo {
  width: 100%;
  padding-bottom: 1%;
  font-size: 1.1em;
  font-weight: bold;
  color: #2A81CC;
  display: flex;
  }

.buttons{
  padding-bottom: 10px;
  height: 12%;
  margin-top: 15px;
}

.gravarButton {
  background: rgba(52, 176, 43, 100);
  color:white;
  font-size: 10px;
  margin-left: 10px;
  margin-top: 5px;
}

.cancelarButton {
  background:darkred;
  color:white;
  font-size: 10px;
  margin-left: 5%;
  margin-top: 5px;
}

.line {
  width: 60%;
  border: 1px solid #2A81CC;
  margin-top: 20px;
  margin-bottom: 30px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
  vertical-align: middle;
  display: inline-table;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

table th {
  background-color: rgb(211, 211, 211);
}


table tr:nth-child(even)  {
  background-color: rgb(231, 231, 231);
}