.novoTrabalhadorHeader {
    background:#2A81CC;
  }

  .clear-icon{
    font-size: 16px;
    display: inline-flex;
  }

  .mat-form-field {
    font-size: 12px;
  }

  .novoResponsavelLegalHeader {
    position: relative;
    background: #2A81CC;
    height: 50px;
    font-weight: bold;
    font-weight: 400;
    color: white;
    padding-left: 5%;
    display: flex;

  }

  .documentExpansionPanel{
    position: relative;
    background: #2A81CC !important;
    height: 50px;
    font-weight: bold;
    font-weight: 400;
    font-size: 20px;
    color: white;
    padding-left: 5%;
    display: flex;

  }

  .mat-expansion-panel {
    background-color: #ffffff73;
  }

  .novoResponsavelLegalIcon {
    padding-top: 6px;
    font-size: 2.2em;
    position: relative;
    width: 50px;
  }

  .novoResponsavelLegalText {
    padding-left: 1.5%;
    padding-top: 14px;
    font-size: 1.2em;
  }

  .DadosPrincipais {
    background: rgba(255, 255, 255, 0.63)
  }

  .DadosContainer {
    margin-left: 5%;
    margin-right: 10%;
    padding-bottom: 30px;
  }

  .DadosContainer-expansion{
    margin-left: 4%;
    margin-right: 10%;
    padding-bottom: 0;
  }

  .nameInputContainer{
    padding-top: 20px;
    margin-left: 50px;
  }
  .nameInput{
      width: 100%;
  }

.InputSizeSmall{
    width: 250px;

}

.InputSizeSmall-checkbox{
    width: auto;

}

.InputSizeMedium{
    width: 500px;
}

.InputSizeMediumWithRadio{
  width: 560px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.InputSizeMedium-radio{
    width: 360px;

}

.righ-radio{
  margin-left: 10px;
}

.expansion-panel{
  padding: 0;
}

  .expandFirstLineContainer{
    padding-top: 30px;
    display: inline-flex;
    position: relative;
    margin-left: 50px;
  }

  .secondLineContainers{
    display: inline-flex;
    position: relative;
    margin-left: 50px;
  }

  .question-title{
    font-size: 16px;
    font-weight: bold;

    color: #2A81CC;
    margin-right: 20px;
  }

  .gravarButton {
    background: rgba(52, 176, 43, 100);
    color:white;

    font-size: 10px;
  }

  .buttonCancelar {
    background:darkred;
    color:white;

    font-size: 10px;
  }

  .mat-expansion{
    background-color: rgba(255, 255, 255, 0.63);
    box-shadow: none;
  }

  .upload-file{
    width: 100%;
    font-size: 13px;
    margin-right: 20px;
  }

  .pdf-viewer{
    display: block;
    height: 250px;
    width: 250px;
  }

  .download-icon{
    font-size: 30px;
    height: 2.125em !important;
    color: #3f51b5;
    cursor: pointer;
  }

  .returnButton{
    width: 30px;
    height: 30px;
    background-color: #2A81CC;
    color: white;
    margin-right: 25%;
    margin-top: 8px;
  }

  .utilizadorSearchIcon {
    position: relative;
    bottom: 13px;
    left: 1px;
  }
