*.bin
backend/TimorINSS-BackEnd-main/.vs/TimorINSS-BackEnd-main/FileContentIndex/7124140f-15fe-4d56-b50d-80690809c54d.vsidx
*.vsidx
/financial/TimorINSS-MInterno/node_modules
/backend/TimorINSS-BackEnd-main/TimorINSS-BackEnd/bin/Release/netcoreapp3.1
/backend/TimorINSS-BackEnd-main/TimorINSS-BackEnd/bin/Debug
/backend/TimorINSS-BackEnd-main/TimorINSS-BackEnd/bin/Debug
/backend/TimorINSS-BackEnd-main/TimorINSS-BackEnd/bin/Debug/netcoreapp3.1
/backend/TimorINSS-BackEnd-main/TimorINSS-BackEnd/obj/Release
/backend/TimorINSS-BackEnd-main/TimorINSS-BackEnd/obj/Debug
/backend/TimorINSS-BackEnd-main/TimorINSS-BackEnd/obj/Debug
/backend/TimorINSS-BackEnd-main/.vs
/backend/TimorINSS-BackEnd-main/.vs
/backend/TimorINSS-BackEnd-main/TimorINSS-BackEnd/obj/Debug
/backend/TimorINSS-BackEnd-main/TimorINSS-BackEnd/obj/Debug/netcoreapp3.1
/backend/TimorINSS-BackEnd-main/TimorINSS-BackEnd/bin/Debug
/backend/TimorINSS-BackEnd-main/TimorINSS-BackEnd/bin/Debug
/backend/TimorINSS-BackEnd-main/TimorINSS-BackEnd/obj/Debug
/backend/TimorINSS-BackEnd-main/TimorINSS-BackEnd/obj
/backend/TimorINSS-BackEnd-main/TimorINSS-BackEnd/obj
/contribution/node_modules
**/.idea/**
/backend/TimorINSS-BackEnd-main/TimorINSS-BackEnd/Properties/PublishProfiles
/backend/TimorINSS-BackEnd-main/TimorINSS-BackEnd/bin/Debug
/backend/TimorINSS-BackEnd-main/TimorINSS-BackEnd/bin/Debug
/backend/TimorINSS-BackEnd-main/TimorINSS-BackEnd/bin/Debug/netcoreapp3.1
db_backup/TimorINSSModuloContribuicoes.ldf
db_backup/TimorINSSModuloContribuicoes.mdf
db_backup/TimorINSSModuloContribuicoes_FullBackup_25052025_2222.bak
backend/TimorINSS-BackEnd-main/TimorINSS-BackEnd/obj/Debug/netcoreapp3.1/TimorINSS-BackEnd.AssemblyInfo.cs
backend/TimorINSS-BackEnd-main/TimorINSS-BackEnd/obj/Debug/netcoreapp3.1/TimorINSS-BackEnd.AssemblyInfo.cs
backend/TimorINSS-BackEnd-main/TimorINSS-BackEnd/obj/Debug/netcoreapp3.1/TimorINSS-BackEnd.AssemblyInfoInputs.cache
*.dll
*.dll
*.dll
*.dll
/backend/TimorINSS-BackEnd-main/TimorINSS-BackEnd/bin/Debug
/backend/TimorINSS-BackEnd-main/TimorINSS-BackEnd/bin/Debug
/backend/TimorINSS-BackEnd-main/TimorINSS-BackEnd/bin/Debug/netcoreapp3.1
backend/TimorINSS-BackEnd-main/TimorINSS-BackEnd/bin/Debug/netcoreapp3.1/PT/TimorINSSBackEnd.resources.dll
/backend/TimorINSS-BackEnd-main/TimorINSS-BackEnd/bin/Debug/netcoreapp3.1/EN
/backend/TimorINSS-BackEnd-main/TimorINSS-BackEnd/bin/Debug
backend/TimorINSS-BackEnd-main/TimorINSS-BackEnd/obj/Debug/netcoreapp3.1/TimorINSS-BackEnd.AssemblyInfoInputs.cache
backend/TimorINSS-BackEnd-main/TimorINSS-BackEnd/obj/Debug/netcoreapp3.1/TimorINSS-BackEnd.AssemblyInfo.cs
backend/TimorINSS-BackEnd-main/TimorINSS-BackEnd/bin/Debug/netcoreapp3.1/TimorINSSBackEnd.exe
backend/TimorINSS-BackEnd-main/TimorINSS-BackEnd/bin/Debug/netcoreapp3.1/TimorINSSBackEnd.dll
*.DS_Store
