.gestaoProcessos{
    position:relative;
    min-height: 85%;
}

.mat-form-field {
    font-size: 12px;
    width: 100%;
}

.subHeader {
    /* min-height: 50px; */
    background: rgba(207, 207, 207, 0.966);
    width: 90%;
    padding-left: 10%;
    height: 71px;
}

.searchContainer {
    width: 20%;
    height: 100%;
    min-width: 192px;
    display: inline-flex;
    align-items: center;
    position: relative;
}

.processosSearchButton {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    background-color:#2A81CC;
    color: white;
}

.processosSearchIcon {
    position: relative;
    bottom: 13px;
    left: 1px;
}

.pesquisar{
    height: 50px;
}

.painelListagemProcessos {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 2%;
    text-align: center;
}

.tabelaProcessosTitulo {
width: 100%;
padding-bottom: 1%;
font-size: 1.1em;
font-weight: bold;
color: #2A81CC;
display: flex;
padding-top: 20px;
}

.tableTitleIcon {
font-size: 1.7em;
padding-right: 10px;
top: -5px;
position: relative;
}

.tabelaProcessos {
width:100%;
text-align: left;
background-color: white;
}

.visualizar {
  color: green;
  cursor: pointer;
}
  
.editIconTable {
    color: #2A81CC;
    cursor: pointer;
  }

.tabletitleText {
    padding-top: 10px;
}

table th {
    background-color: rgb(211, 211, 211);
}


table tr:nth-child(even)  {
  background-color: rgb(231, 231, 231);
}

.mat-form-field {
  font-size: 11px;
  min-width: 150px;
  width: calc(100% - 32px);
}

table th {
  font-weight: bold;
}

table td,
table th {
  width: 16%;
  text-align: center;
}