<div class="dialogPositionFix">
    <h1 class="export-err-titulo" mat-dialog-title>
      <mat-icon class="personRemoveIcon">warning</mat-icon>
      {{'general.warning' | translate}}
    </h1>
    <div class="bodyDialog" mat-dialog-content>
      <div *ngIf="data.MissingFields.length" class="text">{{ 'excelImports.missingFields' | translate }}: <div class="export-err-badge">{{ data.MissingFields.length }}</div></div>
      <div *ngIf="data.MissingFields.length" class="export-err-list">
        <div class="export-list-item" *ngFor="let line of data.MissingFields">{{ line }}</div>
      </div>
    </div>
</div>
