<div class="situacoes">

    <div class="subHeader">
        <div class="searchContainer inputs-grid inputs-grid--6">
            <button class="situacoesSearchButton inputs-grid__cell" mat-fab color="green" aria-label="Search"
                (click)="getDespesasTable()">
                <mat-icon class="situacoesSearchIcon">search</mat-icon>
            </button>
            <mat-form-field appearance="outline" class="input inputs-grid__cell">
                <mat-label>{{'despesas.estado' | translate}}</mat-label>
                <mat-select [(ngModel)]="estado" name="Estado" [errorStateMatcher]="matcher" [required]="submittedTry">
                    <mat-option *ngFor="let option of estadosOptions" [value]="option.id">{{ option.nome | translate }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="input inputs-grid__cell" appearance="outline">
              <mat-label>{{'perfil.data' | translate}}</mat-label>
              <input [(ngModel)]="beginDate" matInput [matDatepicker]="beginDatePicker" name="BeginDate">
              <mat-datepicker-toggle matSuffix [for]="beginDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #beginDatePicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="input inputs-grid__cell" appearance="outline">
              <mat-label>{{'general.dtFim' | translate}}</mat-label>
              <input [(ngModel)]="endDate" matInput [matDatepicker]="endDatePicker" name="EndDate">
              <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #endDatePicker></mat-datepicker>
            </mat-form-field>
            <a (click)="clearFilter()" class="clearFilterButton input inputs-grid__cell" type="button" mat-raised-button>
                <mat-icon class="clearFilterIcon">clear</mat-icon>
                <mat-label>{{'general.clearFilter' | translate}}</mat-label>
            </a>
        </div>
    </div>

    <div>
        <div class="painelListagemSituacoes">

            <div class="tabelaSituacoesTitulo">
                <mat-icon class="tableTitleIcon">toc</mat-icon>
                {{'despesas.consultasDespesas' | translate}}
            </div>

            <div class="no-results" *ngIf="!resultsShown || estadoFiltrado != estado">
                {{ 'general.filtroNecessarioParaListagem' | translate }}
            </div>

            <table mat-table [dataSource]="despesasList" class="mat-elevation-z8 tabelaSituacoes" *ngIf="resultsShown && estadoFiltrado == estado">
                <ng-container matColumnDef="departamento">
                    <th mat-header-cell *matHeaderCellDef> {{'despesas.departamento' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{ element.departamentoINSS }} </td>
                    <td mat-footer-cell *matFooterCellDef>{{ 'general.total' | translate }}</td>
                </ng-container>
                <ng-container matColumnDef="centroCusto">
                    <th mat-header-cell *matHeaderCellDef> {{'despesas.centroCusto' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{ element.centroCusto }} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
                <ng-container matColumnDef="tipoConta">
                    <th mat-header-cell *matHeaderCellDef> {{'despesas.tipoConta' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{ element.tipoConta }}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
                <ng-container matColumnDef="contaOSS">
                    <th mat-header-cell *matHeaderCellDef> {{'despesas.contaOSS' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{ element.contaOSS }}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
                <ng-container matColumnDef="descricao">
                    <th mat-header-cell *matHeaderCellDef> {{'despesas.descricao' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{ element.descricao }}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
                <ng-container matColumnDef="valor">
                    <th mat-header-cell *matHeaderCellDef> {{'despesas.valor' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{ formataCurrency(element.valor) }}</td>
                    <td mat-footer-cell *matFooterCellDef>{{ formataCurrency(totais.valor) }}</td>
                </ng-container>
                <ng-container matColumnDef="data">
                    <th mat-header-cell *matHeaderCellDef> {{'despesas.data-' + estadoFiltrado | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{ formatDate(element.data) }}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
                <ng-container matColumnDef="numeroProcesso">
                    <th mat-header-cell *matHeaderCellDef> {{'despesas.numeroProcesso' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{ element.numeroProcesso }}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
                <ng-container matColumnDef="utilizador">
                    <th mat-header-cell *matHeaderCellDef> {{'despesas.utilizador-' + estadoFiltrado | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{ element.utilizadorAlteracao }}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
            </table>
            <mat-paginator class="paginator" [length]="this.totalRowsTable"
                [pageSize]="this.pageSizeTable" (page)="updateDespesasTable($event)"
                [pageIndex]="pageIndexTable" [pageSizeOptions]="[20,25,50,100,500,1000]" showFirstLastButtons *ngIf="resultsShown && estadoFiltrado == estado">
            </mat-paginator>


            <div class="buttons" *ngIf="resultsShown">
                <button class="firstButton" mat-raised-button (click)="exportExcelRelatorio()">
                  <mat-label>{{'general.gerarExcel' | translate}}</mat-label>
                </button>
            </div>

        </div>
    </div>
</div>
