<mat-form-field appearance="outline" class="ocs-field">
  <mat-label>{{ label }}</mat-label>
  <mat-select [value]="value" (selectionChange)="select($event.value)">
    <mat-option *ngFor="let o of options" [value]="o.id">
      {{ o.ano }}<span *ngIf="o.tipo && o.tipo !== 'PRINCIPAL'"> ({{ o.tipo }})</span>
    </mat-option>
    <mat-option *ngIf="options.length === 0" [value]="value" disabled>
      {{ 'orcamentoConfigSelect.noOptions' | translate }}
    </mat-option>
  </mat-select>
</mat-form-field>
