.dialogPositionFix {
  position: relative;
  height: 100%;
}

.mat-dialog-title {
  text-align: center;
}

.titulo {
  height: 13%;
  margin: 0;
}

.bodyDialog {
  height: 90%;
}

.buttons {
  margin-top: 5px;
  position: absolute;
  height: 12%;
  width: 100%;
}

.datepickerBegin {
  padding-left: 10%;
  padding-top: 5%;
}

.adicionarButton {
  background: rgba(52, 176, 43, 100);
  color:white;

  font-size: 10px;
  display: inline-flex;
  position: relative;
  margin-left: 50px;
}

.buttonCancelar {
  background:darkred;
  color:white;

  font-size: 10px;
  display: inline-flex;
  position: relative;
  margin-left: 50px;
}

.error {
  font-size: 10px;
  color: red;
}

.personRemoveIcon {
  top: 5px;
  position: relative;
  font-size: 1.3em;
  padding-right: 2px;
}

.mat-dialog-title {
  color: #2A81CC;
}

.formSize {
  height: 80%;
}