<div class="dialogPositionFix">
  <div class="formSize" >
    <h1 class="titulo" mat-dialog-title >
      <mat-icon class="popUpIcon">home</mat-icon>
      Add user
    </h1>

    <form class="formSize" #documentoForm="ngForm">
      <div class="bodyDialog" mat-dialog-content>
        <div class="DadosContainer">
          <div class="DadosContainer-expansion">
            <div class="secondLineContainers inputContainer">
              <mat-form-field appearance="outline">
                <mat-label>Name of Employee</mat-label>
                <input  [errorStateMatcher]="matcher" [required]="submittedTry" [(ngModel)]="data.Name"
                       type="text" [pattern]="availableRegex.intTextPatternSpace" maxlength="100" name="Name" matInput>
                <mat-error *ngIf="!data.Name">>{{'general.required' | translate}}</mat-error>
                <mat-error *ngIf="data.Name">{{'general.wrongFormat' | translate}}</mat-error>
              </mat-form-field>
            </div>
            <div class="secondLineContainers inputContainer">
              <mat-form-field appearance="outline">
                <mat-label>{{'guiasPagamento.niss' | translate}}</mat-label>

                <input  [errorStateMatcher]="matcher" [required]="submittedTry" [(ngModel)]="data.NISS"
                       type="text" [pattern]="availableRegex.intTextPattern" maxlength="100" name="NISS" matInput>
                <mat-error *ngIf="!data.NISS">>{{'general.required' | translate}}</mat-error>
                <mat-error *ngIf="data.NISS">{{'general.wrongFormat' | translate}}</mat-error>
              </mat-form-field>
            </div>
            <div class="secondLineContainers">
              <mat-form-field appearance="outline">
                <mat-label>{{'contacto.email' | translate}}</mat-label>
                <input [errorStateMatcher]="matcher" [required]="submittedTry" [(ngModel)]="data.Email"
                       [pattern]="availableRegex.emailPattern" type="text" name="Email" maxlength="50" matInput>
                <mat-error *ngIf="!data.Email">{{'general.required' | translate}}</mat-error>
                <mat-error *ngIf="data.Email">{{'general.wrongFormat' | translate}}</mat-error>
              </mat-form-field>
            </div>
            
            <div class="secondLineContainers">
              <mat-checkbox [(ngModel)]="data.InternalUser" name="InternalUser">
                {{ 'guiasPagamento.internalUser' | translate }}
              </mat-checkbox>
            </div>


          </div>
        </div>

      </div>


      <div class="buttons">
        <button class="gravarButton" mat-raised-button [disabled]="!documentoForm.valid"
                (click)="approve()">
          <mat-icon class="icon">check</mat-icon>
          <mat-label>Add new</mat-label>
        </button>

        <button type="button" class="buttonCancelar" mat-raised-button (click)="closePopUp()">
          <mat-icon class="icon">close</mat-icon>
          <mat-label>Cancel</mat-label>
        </button>
      </div>
    </form>
  </div>

</div>
