/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; margin: 0; }

html{
    background-image: url("https://image.freepik.com/free-photo/top-view-work-from-home-concept-with-keyboard-calculator-notebook-white-background-graphic-designer-creative-designer-concept_160097-213.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body {

}

.modalWithBorder {
  border-style: solid;
  border-color: #2A81CC;
  border-width: 4px;
  border-radius: 8px;
  min-height: 100px !important;
}

.warningModal {
  border-style: solid;
  border-color: rgb(248,177,23);
  border-width: 8px;
  border-radius: 8px;
  min-height: 100px !important;
}

.green-snackbar {
  background: green;
}

.red-snackbar {
  background: rgb(168, 45, 45);
}

.spinner {
    font-size: 20px;
    color: #2A81CC;
    font-weight:bold;
  }

.inputs-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  column-gap: 50px;
  row-gap: 15px;
  margin: 0 27px;
  box-sizing: border-box;
}

.inputs-grid--2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.inputs-grid--3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.inputs-grid--4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.inputs-grid--5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.inputs-grid--6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.inputs-grid--7 {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.inputs-grid--8 {
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.inputs-grid--9 {
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.inputs-grid__cell {
  grid-column: span 1;
}

.inputs-grid__cell--full-width {
  grid-column: 1 / -1;
}

.mat-menu-panel {
  max-width: 400px !important;
}

.mat-form-field-subscript-wrapper {
  margin-top: 3px;
}


