<div class="cg-container">
  <div class="cg-header">
    <h2>CE_OSS_Global <span class="en">({{ 'ceInssGlobal.headerGloss' | translate }})</span></h2>
  </div>

  <div class="cg-filterbar">
    <mat-form-field appearance="outline" class="cg-field">
      <mat-label>{{ 'ceInssGlobal.fieldAno' | translate }}</mat-label>
      <mat-select [(ngModel)]="selectedYear" (selectionChange)="load()">
        <mat-option *ngFor="let y of years" [value]="y">{{ y }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="cg-field">
      <mat-label>Organization <span class="itag type">{{ 'ceInssGlobal.searchToTypeTag' | translate }}</span></mat-label>
      <input matInput [(ngModel)]="organizationSearch" name="organizationSearchInput"
             (ngModelChange)="onOrganizationSearchChange()" [matAutocomplete]="autoOrg" />
      <mat-autocomplete #autoOrg="matAutocomplete">
        <mat-option [value]="undefined" (onSelectionChange)="selectOrganization()">
          {{ 'ceInssGlobal.bothOption' | translate }}
        </mat-option>
        <mat-option *ngFor="let inst of filteredOrganizations" [value]="inst.nome" (onSelectionChange)="selectOrganization(inst)">
          {{ inst.nome }}
        </mat-option>
        <mat-option *ngIf="filteredOrganizations.length === 0" disabled>{{ 'ceInssGlobal.noneFound' | translate }}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div class="cg-loading" *ngIf="loading">{{ 'ceInssGlobal.loading' | translate }}</div>

  <ng-container *ngIf="!loading && report">
    <h3 class="cg-title">{{ report.organizationLabel }}</h3>

    <div class="cg-kpis">
      <div class="cg-kpi">
        <label>{{ 'ceInssGlobal.kpiTotalReceita' | translate }} <span class="en">{{ 'ceInssGlobal.kpiTotalReceitaGloss' | translate }}</span></label>
        <span class="cg-num">{{ report.totalReceitaCorrigido | number:'1.2-2' }}</span>
      </div>
      <div class="cg-kpi">
        <label>{{ 'ceInssGlobal.kpiTotalDespesa' | translate }} <span class="en">{{ 'ceInssGlobal.kpiTotalDespesaGloss' | translate }}</span></label>
        <span class="cg-num">{{ report.totalDespesaCorrigido | number:'1.2-2' }}</span>
      </div>
      <div class="cg-kpi" [class.cg-ok]="report.saldoOrcamental === 0">
        <label>{{ 'ceInssGlobal.kpiSaldo' | translate }} <span class="en">{{ 'ceInssGlobal.kpiSaldoGloss' | translate }}</span></label>
        <span class="cg-num">{{ report.saldoOrcamental | number:'1.2-2' }}</span>
      </div>
    </div>

    <h4 class="cg-section">{{ 'ceInssGlobal.receitasTitle' | translate }} <span class="en">{{ 'ceInssGlobal.byClassificacaoEconomica' | translate }}</span></h4>
    <div class="cg-tbl-wrap">
      <table class="cg-tbl">
        <thead>
          <tr>
            <th>{{ 'ceInssGlobal.colCodigo' | translate }}</th>
            <th>{{ 'ceInssGlobal.colDesignacao' | translate }}</th>
            <th class="num">{{ 'ceInssGlobal.colOssInicial' | translate }}</th>
            <th class="num">{{ 'ceInssGlobal.colOssCorrigido' | translate }}</th>
            <th class="num">{{ 'ceInssGlobal.colReceitaLiquidada' | translate }}</th>
            <th class="num">{{ 'ceInssGlobal.colTaxaExecucao' | translate }}</th>
            <th class="num">{{ 'ceInssGlobal.colSaldoExecucao' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of report.receitas">
            <td class="mono">{{ row.codigo }}</td>
            <td>{{ row.designacao }}</td>
            <td class="num">{{ row.valorOrcamentoInicial | number:'1.2-2' }}</td>
            <td class="num">{{ row.valorOrcamentado | number:'1.2-2' }}</td>
            <td class="num">{{ row.totalExecucao | number:'1.2-2' }}</td>
            <td class="num">{{ row.taxaExecucao | percent:'1.1-1' }}</td>
            <td class="num">{{ row.saldoExecucao | number:'1.2-2' }}</td>
          </tr>
          <tr *ngIf="report.receitas.length === 0"><td colspan="7" class="cg-empty">{{ 'ceInssGlobal.emptyList' | translate }}</td></tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">{{ 'ceInssGlobal.totalReceita' | translate }}</td>
            <td class="num">{{ report.totalReceitaInicial | number:'1.2-2' }}</td>
            <td class="num">{{ report.totalReceitaCorrigido | number:'1.2-2' }}</td>
            <td colspan="3"></td>
          </tr>
        </tfoot>
      </table>
    </div>

    <h4 class="cg-section">{{ 'ceInssGlobal.despesasTitle' | translate }} <span class="en">{{ 'ceInssGlobal.byClassificacaoEconomica' | translate }}</span></h4>
    <div class="cg-tbl-wrap">
      <table class="cg-tbl">
        <thead>
          <tr>
            <th>{{ 'ceInssGlobal.colCodigo' | translate }}</th>
            <th>{{ 'ceInssGlobal.colDesignacao' | translate }}</th>
            <th class="num">{{ 'ceInssGlobal.colOssInicial' | translate }}</th>
            <th class="num">{{ 'ceInssGlobal.colOssCorrigido' | translate }}</th>
            <th class="num">{{ 'ceInssGlobal.colCabimentos' | translate }}</th>
            <th class="num">{{ 'ceInssGlobal.colCompromissos' | translate }}</th>
            <th class="num">{{ 'ceInssGlobal.colTotalExecucao' | translate }}</th>
            <th class="num">{{ 'ceInssGlobal.colTaxaExecucao' | translate }}</th>
            <th class="num">{{ 'ceInssGlobal.colSaldoExecucao' | translate }}</th>
            <th class="num">{{ 'ceInssGlobal.colSaldoCabimentadoNaoComprometido' | translate }}</th>
            <th class="num">{{ 'ceInssGlobal.colSaldoComprometidoNaoLiquidado' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of report.despesas">
            <td class="mono">{{ row.codigo }}</td>
            <td>{{ row.designacao }}</td>
            <td class="num">{{ row.valorOrcamentoInicial | number:'1.2-2' }}</td>
            <td class="num">{{ row.valorOrcamentado | number:'1.2-2' }}</td>
            <td class="num">{{ row.cabimentos | number:'1.2-2' }}</td>
            <td class="num">{{ row.compromissos | number:'1.2-2' }}</td>
            <td class="num">{{ row.totalExecucao | number:'1.2-2' }}</td>
            <td class="num">{{ row.taxaExecucao | percent:'1.1-1' }}</td>
            <td class="num">{{ row.saldoExecucao | number:'1.2-2' }}</td>
            <td class="num">{{ row.saldoCabimentadoNaoComprometido | number:'1.2-2' }}</td>
            <td class="num">{{ row.saldoComprometidoNaoLiquidado | number:'1.2-2' }}</td>
          </tr>
          <tr *ngIf="report.despesas.length === 0"><td colspan="11" class="cg-empty">{{ 'ceInssGlobal.emptyList' | translate }}</td></tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">{{ 'ceInssGlobal.totalDespesa' | translate }}</td>
            <td class="num">{{ report.totalDespesaInicial | number:'1.2-2' }}</td>
            <td class="num">{{ report.totalDespesaCorrigido | number:'1.2-2' }}</td>
            <td colspan="7"></td>
          </tr>
        </tfoot>
      </table>
    </div>

    <div class="cg-note" *ngIf="report.totalReceitaCorrigido === 0 && report.totalDespesaCorrigido === 0">
      {{ 'ceInssGlobal.zeroNote' | translate: { count: report.receitas.length + report.despesas.length } }}
    </div>
  </ng-container>
</div>
