<div class="shell">
  <aside class="treebar">
    <div class="treebar-header">
      <span class="treebar-title">{{ 'general.moduloContabilidade' | translate }}</span>
    </div>

    <nav class="treebar-nav">
      <div class="tree-group" *ngFor="let group of visibleGroups">
        <div class="tree-group-label" (click)="toggleGroup(group)" role="button" tabindex="0" (keydown.enter)="toggleGroup(group)">
          <mat-icon class="expand-caret" [class.collapsed]="!group.expanded">expand_more</mat-icon>
          <mat-icon>{{ group.icon }}</mat-icon>
          <span>{{ group.label | translate }}</span>
        </div>
        <ul class="tree-items" *ngIf="group.expanded">
          <li *ngFor="let item of group.items">
            <a *ngIf="!item.comingSoon" [routerLink]="item.route" routerLinkActive="active" class="tree-item">
              {{ item.label | translate }}
            </a>
            <span *ngIf="item.comingSoon" class="tree-item disabled" [matTooltip]="'shell.comingSoon' | translate">
              {{ item.label | translate }}
            </span>
          </li>
        </ul>
      </div>
    </nav>
  </aside>

  <main class="shell-content">
    <router-outlet></router-outlet>
  </main>
</div>
