<div class="shell">
  <aside class="treebar">
    <div class="treebar-header">
      <a routerLink="/contabilidade/dashboard" class="treebar-title" [matTooltip]="'shell.homeTooltip' | translate">
        <mat-icon class="treebar-home-icon">home</mat-icon>
        {{ 'general.moduloContabilidade' | translate }}
      </a>
    </div>

    <div class="treebar-no-access" *ngIf="hasNoAccess">
      <mat-icon>info</mat-icon>
      <span>{{ 'shell.noAccessMessage' | translate }}</span>
    </div>

    <nav class="treebar-nav">
      <div class="tree-group" *ngFor="let group of visibleGroups">
        <div class="tree-group-label" (click)="toggleGroup(group)" role="button" tabindex="0" (keydown.enter)="toggleGroup(group)">
          <mat-icon class="expand-caret" [class.collapsed]="!group.expanded">expand_more</mat-icon>
          <mat-icon>{{ group.icon }}</mat-icon>
          <span>{{ group.label | translate }}</span>
        </div>
        <ul class="tree-items" *ngIf="group.expanded">
          <li *ngFor="let item of group.items">
            <a *ngIf="!item.comingSoon" [routerLink]="item.route" routerLinkActive="active" class="tree-item">
              {{ item.label | translate }}
            </a>
            <span *ngIf="item.comingSoon" class="tree-item disabled" [matTooltip]="'shell.comingSoon' | translate">
              {{ item.label | translate }}
            </span>
          </li>
        </ul>
      </div>
    </nav>
  </aside>

  <main class="shell-content">
    <div class="content-no-access" *ngIf="hasNoAccess">
      <mat-icon>lock_outline</mat-icon>
      <h3>{{ 'shell.noAccessTitle' | translate }}</h3>
      <p>{{ 'shell.noAccessMessage' | translate }}</p>
    </div>
    <router-outlet></router-outlet>
  </main>
</div>
