<mat-expansion-panel class="mat-expansion" #componentePrazoTarefa (afterExpand)="scroll(componentePrazoTarefa)">
  <mat-expansion-panel-header>
    {{ "tarefa.componentePrazoTarefa" | translate }}
  </mat-expansion-panel-header>

  <div class="containerBody">
    <div class="txt-box">
      {{ "tarefa.componentePrazoTarefa" | translate }}:
      <div class="txt">
        {{ limit }} {{ "general.days" | translate }}
      </div>
    </div>
    <div class="txt-box">
      {{ "tarefa.expireDate" | translate }}:
      <div class="txt">
        {{ formatDate(expireDate) }}
      </div>
    </div>
  </div>
</mat-expansion-panel>
