<div class="cf-container">
  <div class="cf-header">
    <h2>{{ 'classificacaoFuncionalScreen.header' | translate }} <span class="en">({{ 'classificacaoFuncionalScreen.headerGloss' | translate }})</span></h2>
    <app-master-data-import-button entityPath="functionalclassification" (imported)="load()"></app-master-data-import-button>
    <button mat-raised-button color="primary" (click)="openAddForm()">{{ 'classificacaoFuncionalScreen.addDivisao' | translate }}</button>
  </div>

  <div class="cf-context-bar">
    <mat-form-field appearance="outline" class="cf-search-field">
      <mat-label>{{ 'classificacaoFuncionalScreen.searchLabel' | translate }}</mat-label>
      <input matInput [(ngModel)]="searchCodigo" [placeholder]="'classificacaoFuncionalScreen.searchPlaceholder' | translate" />
    </mat-form-field>
  </div>

  <div class="cf-tree" *ngIf="!loading">
    <ng-container *ngFor="let root of filteredTree">
      <ng-container *ngTemplateOutlet="nodeTemplate; context: { node: root }"></ng-container>
    </ng-container>
    <div class="cf-empty" *ngIf="tree.length === 0">{{ 'classificacaoFuncionalScreen.emptyList' | translate }}</div>
    <div class="cf-empty" *ngIf="tree.length > 0 && filteredTree.length === 0">{{ 'classificacaoFuncionalScreen.searchNoMatch' | translate }}</div>
  </div>

  <ng-template #nodeTemplate let-node="node">
    <div class="cf-row" [ngClass]="node.parentFk ? 'lvl2' : 'lvl1'">
      <span class="cf-code">{{ node.codigo }}</span>
      <span class="cf-desig">{{ node.designacao }}</span>
      <span class="cf-actions">
        <button mat-button *ngIf="!node.parentFk" (click)="openAddForm(node)">{{ 'classificacaoFuncionalScreen.addGrupo' | translate }}</button>
        <button mat-button (click)="openEditForm(node)">{{ 'classificacaoFuncionalScreen.editButton' | translate }}</button>
        <button mat-button (click)="deactivate(node)">{{ 'classificacaoFuncionalScreen.deleteButton' | translate }}</button>
      </span>
    </div>
    <ng-container *ngFor="let child of node.children">
      <ng-container *ngTemplateOutlet="nodeTemplate; context: { node: child }"></ng-container>
    </ng-container>
  </ng-template>

  <div class="cf-form-overlay" *ngIf="showForm">
    <div class="cf-form">
      <h3>{{ (editingId ? 'classificacaoFuncionalScreen.formTitleEdit' : 'classificacaoFuncionalScreen.formTitleCreate') | translate }}</h3>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'classificacaoFuncionalScreen.fieldCodigo' | translate }}</mat-label>
        <input matInput [(ngModel)]="formCodigo" name="formCodigo" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'classificacaoFuncionalScreen.fieldDesignacao' | translate }}</mat-label>
        <input matInput [(ngModel)]="formDesignacao" name="formDesignacao" />
      </mat-form-field>

      <div class="cf-form-actions">
        <button mat-button (click)="cancelForm()">{{ 'classificacaoFuncionalScreen.cancelButton' | translate }}</button>
        <button mat-raised-button color="primary" (click)="save()">{{ 'classificacaoFuncionalScreen.saveButton' | translate }}</button>
      </div>
    </div>
  </div>
</div>
