
.titulo {
  height: 13%;
  text-align: center;
  color: #2A81CC;

  font-weight: bold;
}
.popUpIcon {
  top: 5px;
  position: relative;
  font-size: 1.3em;
}

.dialogPositionFix {
  position: relative;
  height: 100%;
}

.bodyDialog {
  height: 75%;
  margin: 0;
}

.secondLineContainers {
  display: inline-flex;
  position: relative;
  margin-left: 50px;
}

.buttons {
  margin-top: 5px;
  position: absolute;
  height: 12%;
  width: 100%;
}
.mat-form-field {
height: 10%;
font-size: 12px;
}

.gravarButton {
  background: rgba(52, 176, 43, 100);
  color:white;

  font-size: 10px;
}

.buttonCancelar {
  background:darkred;
  color:white;

  font-size: 10px;
}
.icon {
  padding-right: 5px;
}

.error {
  font-size: 10px;
  color: red;
}

.formSize {
  height: 80%;
}

.radioContainer {
  position: relative;
  display: inline-flex;
  width: 20%;
  margin-left: 15%;
}

.firstRadio {
  margin-top: 15px;
}

.secondRadio {
  margin-top: 15px;
  margin-left: 25%;
}