<mat-expansion-panel class="mat-expansion" [expanded]="isExpanded" #componenteDocumentos (afterExpand)="scroll(componenteDocumentos)">
    <mat-expansion-panel-header>
        {{'tarefa.adicionarNovoDocumento' | translate}}
    </mat-expansion-panel-header>
    <div class="containerBody">
      <div class="secondLineContainers inputContainerSmall">
        <mat-form-field appearance="outline">
          <mat-label>{{'general.docType' | translate}}</mat-label>
          <mat-select #name="ngModel" [(ngModel)]="documento.tpDocIdentificacao" name="tpDocIdentificacao"
          (selectionChange)="changedDocType()">
            <mat-optgroup *ngFor="let group of documentosList?.groups" [label]="'general.'+group.name | translate">
              <mat-option *ngFor="let documentType of group.values" [value]="documentType.id">
                {{documentType.descricao}}</mat-option>
            </mat-optgroup>
          </mat-select>
          <fa-icon *ngIf="documento.documento" matSuffix aria-label="Clear" [icon]="faTimesCircle"
            (click)="clearDocumento()"></fa-icon>
          <mat-error>{{'general.required' | translate}}</mat-error>
        </mat-form-field>
      </div>
        <!-- [PT] Selecção do ficheiro com <input type="file"> nativo. O ngx-mat-file-input que estava
             aqui não abria a janela de selecção: o campo aparecia mas clicar nele não fazia nada.
             [VI] Chọn file bằng <input type="file"> gốc. ngx-mat-file-input trước đây không mở được
             cửa sổ chọn file -- ô vẫn hiện nhưng bấm vào không có gì xảy ra. -->
        <div class="secondLineContainers" *ngIf='documento.tpDocIdentificacao'>
            <input type="file" #fileInput hidden [accept]="accept" (change)="onFileSelected($event)" />

            <button mat-raised-button type="button" class="uploadButton" (click)="fileInput.click()">
              <mat-icon class="icon">cloud_upload</mat-icon>
              <mat-label>{{'general.document' | translate}}</mat-label>
            </button>

            <span class="nomeDocumentoSelecionado" *ngIf="documento.nomeDocumento">
              {{documento.nomeDocumento}}
              <fa-icon aria-label="Clear" [icon]="faTimesCircle"
                (click)="clearDocumento(); fileInput.value = ''"></fa-icon>
            </span>

            <div class="erroDocumento" *ngIf="wrongFormat">
              {{'general.documentLimitSize' | translate}} {{accept}}
            </div>
        </div>
        <div class="secondLineContainers" style="vertical-align: super;" *ngIf="documento.documento" >
          <button class="gravarButton" mat-raised-button type="submit" (click)="SaveDocument()">
            <mat-icon class="icon">check</mat-icon>
            <mat-label>{{'general.inputFile' | translate}}</mat-label>
          </button>
        </div>
        <!-- [PT] Lista do que já foi inserido neste ecrã: o snackbar desaparece, isto fica.
             [VI] Danh sách những gì đã chèn ở màn này: snackbar tắt đi, phần này ở lại. -->
        <div class="documentosInseridos" *ngIf="documentosInseridos.length > 0">
          <div class="documentoInserido" *ngFor="let inserido of documentosInseridos">
            <mat-icon class="iconInserido">check_circle</mat-icon>
            <span class="nomeInserido">{{inserido.nome}}</span>
            <span class="tipoInserido" *ngIf="inserido.tipo">({{inserido.tipo}})</span>
            <span class="estadoInserido">{{'general.inserted' | translate}}</span>
          </div>
        </div>
    </div>
</mat-expansion-panel>