<mat-expansion-panel class="mat-expansion" [expanded]="isExpanded" #componenteClassificSubClassificTarefa (afterExpand)="scroll(componenteClassificSubClassificTarefa)">
    <mat-expansion-panel-header>
        {{'tarefa.componenteClassificSubClassificTarefa' | translate}}
    </mat-expansion-panel-header>
    <div class="containerBody">
        <mat-form-field class="subContainer" appearance="outline">
            <mat-label>{{'tarefa.componenteClassificSubClassificTarefa' | translate}}</mat-label>
            <mat-select #name="ngModel" [(ngModel)]="subClassificacaoId" name="tpSubClass"
            (selectionChange)="selectSubClass()" [errorStateMatcher]="matcher" [required]="true">
                <mat-option *ngFor="let item of classificacaoSubList" [value]="item.id" title="{{item.nome}}">
                {{item.nome}}
                </mat-option>
            </mat-select>
            <mat-error>{{'general.required' | translate}}</mat-error>
          </mat-form-field>
    </div>
</mat-expansion-panel>
