<div class="ordens">

    <div class="subHeader">
        <div class="searchContainer inputs-grid inputs-grid--6">
            <button class="ordensSearchButton inputs-grid__cell" mat-fab color="green" aria-label="Search"
                (click)="getOrdensPagamentoTable()">
                <mat-icon class="ordensSearchIcon">search</mat-icon>
            </button>
            <mat-form-field class="input inputs-grid__cell" appearance="outline">
                <mat-label>{{'pagamentosExecutados.tin_nome_niss' | translate}}</mat-label>
                <input matInput [(ngModel)]="search">
            </mat-form-field>
            <mat-form-field appearance="outline" class="input inputs-grid__cell">
                <mat-label>{{'pagamentosExecutados.estado' | translate}}</mat-label>
                <mat-select [(ngModel)]="estado" name="estado">
                    <mat-option *ngFor="let option of estadoOptions" [value]="option.id">{{ option.descricao }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="input inputs-grid__cell" appearance="outline">
                <mat-label>{{'pagamentosExecutados.numeroOrdemPagamento' | translate}}</mat-label>
                <input matInput [(ngModel)]="numeroPagamento">
            </mat-form-field>



            <mat-form-field class="input inputs-grid__cell" appearance="outline">
                <mat-label>{{'pagamentosExecutados.contaOGE' | translate}}</mat-label>
                <mat-select
                    #name="ngModel" name="selectConta" [(ngModel)]="contaOGE"
                    [errorStateMatcher]="matcher">
                    <mat-option>
                        <ngx-mat-select-search #name="ngModel"
                            noEntriesFoundLabel="{{'general.codigoContaInvalido' | translate}}"
                            placeholderLabel="{{'componenteDespesa.contabilidade' | translate}}" ngModel
                            (ngModelChange)="onTipoContaSearch($event)"
                            name="contaSearch">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let option of contaOptionsFiltered" [value]="option.id">
                        {{option.nome}}
                    </mat-option>
                </mat-select>
            </mat-form-field>



            <mat-form-field class="input inputs-grid__cell" appearance="outline">
                <mat-label>{{'perfil.data' | translate}}</mat-label>
                <input [(ngModel)]="filter.dateFilterBegin" matInput [matDatepicker]="pickerValidade" name="BeginDate">
                <mat-datepicker-toggle matSuffix [for]="pickerValidade"></mat-datepicker-toggle>
                <mat-datepicker #pickerValidade></mat-datepicker>
            </mat-form-field>
            <mat-form-field *ngIf="filter.dateFilterBegin" class="input inputs-grid__cell" appearance="outline">
                <mat-label>{{'general.dtFim' | translate}}</mat-label>
                <input [(ngModel)]="filter.dateFilterEnd" matInput [matDatepicker]="pickerValidade" name="EndDate">
                <mat-datepicker-toggle matSuffix [for]="pickerValidade"></mat-datepicker-toggle>
                <mat-datepicker #pickerValidade></mat-datepicker>
            </mat-form-field>
            <a (click)="clearFilter()" class="clearFilterButton input inputs-grid__cell" type="button" mat-raised-button>
                <mat-icon class="clearFilterIcon">clear</mat-icon>
                <mat-label>{{'general.clearFilter' | translate}}</mat-label>
            </a>
        </div>
    </div>

    <div>
        <div class="painelListagemOrdens">

            <div class="tabelaOrdensTitulo">
                <mat-icon class="tableTitleIcon">toc</mat-icon>
                {{'pagamentosExecutados.consultasOrdensPagamento' | translate}}
            </div>

            <div class="no-results" *ngIf="!resultsShown">
                {{ 'general.filtroNecessarioParaListagem' | translate }}
            </div>

            <table mat-table [dataSource]="pagamentosList" class="mat-elevation-z8 tabelaOrdens" *ngIf="resultsShown">
                <ng-container matColumnDef="numeroPagamento">
                    <th mat-header-cell *matHeaderCellDef> {{'pagamentosExecutados.numeroOrdemPagamento' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{ element.numeroPagamento }} </td>
                </ng-container>
                <ng-container matColumnDef="destinatario">
                    <th mat-header-cell *matHeaderCellDef> {{'pagamentosExecutados.destinatario' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{ element.countDestinatarios == 1 ? element.destinatario : 'general.varios' | translate }}{{element.countDestinatarios > 1 ? ' (' + element.countDestinatarios + ')' : ''}}</td>
                </ng-container>
                <ng-container matColumnDef="conta">
                    <th mat-header-cell *matHeaderCellDef> {{'pagamentosExecutados.contaOGE' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{ element.countContas == 1 ? element.conta : 'general.varios' | translate }}{{element.countContas > 1 ? ' (' + element.countContas + ')' : ''}}</td>
                </ng-container>
                <ng-container matColumnDef="dataEmissao">
                    <th mat-header-cell *matHeaderCellDef> {{'pagamentosExecutados.dataEmissao' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{ formatDatePT(element.dataEmissao) }}</td>
                </ng-container>
                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef> {{'pagamentosExecutados.estado' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{ element.estado }}</td>
                </ng-container>
                <ng-container matColumnDef="valor">
                    <th mat-header-cell *matHeaderCellDef> {{'pagamentosExecutados.valor' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{ formataCurrency(element.valor) }}</td>
                </ng-container>
                <ng-container matColumnDef="pdf">
                    <th mat-header-cell *matHeaderCellDef> PDF </th>
                    <td mat-cell *matCellDef="let element">
                        <fa-icon class="pdfIconTable" (click)="gerarPDF(element)" [icon]="faFilePdf"></fa-icon>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator class="paginator" [length]="this.totalRowsTable"
                [pageSize]="this.pageSizeTable" (page)="updateOrdensTable($event)"
                [pageIndex]="pageIndexTable" [pageSizeOptions]="[20,25,50,100,500,1000]" showFirstLastButtons *ngIf="resultsShown">
            </mat-paginator>
            

            <div class="buttons" *ngIf="resultsShown">
                <button class="firstButton" mat-raised-button (click)="exportExcelRelatorio()">
                  <mat-label>{{'general.gerarExcel' | translate}}</mat-label>
                </button>
            </div>

        </div>
    </div>
</div>
